@font-face {
    font-family: 'Neue-Haas';
    src: url('assets/NHaasGroteskDSPro-55Rg.otf') format('opentype');
}

@font-face {
    font-family: 'Neue-Haas-Italic';
    src: url('assets/NHaasGroteskDSPro-56It.otf') format('opentype');
    /* Add more src lines if you have multiple font formats */
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
}

.page-content{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 483px;
    border-right: solid 1px ;
    height: 99vh;
}

hr {
    background: rgba(0, 0, 0, 1);
    border: 0;
    height: 1px;
    display: block;
}

.project-content{
    display: inline;
}

.default-copy, .project-name, .project-info, .project-type, .project-year{
    font-family: 'Neue-Haas';
    font-size: 12px;
    font-weight: 200; 
    display: inline;
}

.project-name, .default-copy{
    padding-left: 15px;
}

.project-name, .project-info, .project-type, .project-year{
    display: inline;
}

.project-info, .project-type, .project-year{
    text-align: right;
    align-items: end;
}

.spacer{
    height: 200px;
}

.project-images {
    padding: 10px;
    width: 80vw; /* Set the width of the div to 60% of the viewport width */
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 columns */
            gap: 10px; /* Adjust the gap as needed */
            margin: 0 auto; /* Center the grid */
            grid-auto-rows: minmax(10, auto); /* Set minimum row size based on content */
            overflow-y: scroll;
}

.project-images img {
    width: 100%; /* Images will take up the full width of their grid cell */
    height: auto; /* Maintain the aspect ratio of the images */
    max-width: 100%; /* Images won't stretch beyond their natural size */
    display: block; /* Remove extra space below the image */
    border: 1px solid #ccc; /* Optional: Add a border for visual separation */
}

.about-info{

    justify-content: flex-end;
    align-items: ;
}