@font-face {
    font-family: 'Neue-Haas';
    src: url('assets/NHaasGroteskDSPro-55Rg.otf') format('opentype');
}
@font-face {
    font-family: 'Neue-Haas-Italic';
    src: url('assets/NHaasGroteskDSPro-56It.otf') format('opentype');
    /* Add more src lines if you have multiple font formats */
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

.page-content{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    min-width: 483px; /* Set minimum width */
    max-width: 483px; /* Set maximum width */
    border-right: solid 1px ;
    height: 99vh;
    overflow-y: hidden;
}

hr {
    background: rgba(0, 0, 0, 1);
    border: 0;
    height: 1px;
    display: block;
}

.project-content{
    display: inline;
}

.default-copy, .project-name, .project-info, .project-type, .project-year{
    font-family: 'Neue-Haas';
    font-size: 14px;
    font-weight: 500; 
    display: inline;
}

a{
    text-decoration: none;
    color: black;
}

/* Code for Live Site, Prototype, Repo background */
body > div.page-content > div.project-content > div:nth-child(n) > h1.project-name > a{
    text-decoration: none;
    color: black;
    display: inline-block; /* Ensures the background spans the entire width of the link */
    padding: 0.0em 0.2em; /* Adjust padding as needed */
    background-color: #e4e4e4; /* Grey background color */
    border-radius: 5px; /* Adds rounded corners to the box */
    text-decoration: none; /* Removes default link underline */
    color: #272626; /* Text color */
}

body > div.page-content > div.project-content > div:nth-child(n) > h1.project-name > a:hover {
    background-color: #d9d9d9; /* Darker grey background color on hover */
}

.project-name, .default-copy{
    padding-left: 15px;
}

.project-name, .project-info, .project-type, .project-year{
    display: inline;
}

.project-info, .project-type, .project-year{
    text-align: right;
    align-items: end;
}

.spacer{
    height: 200px;
}

.images-container {
    padding: 5px;
    width: fit-content; /* Adjusted to fit the content of the container */
    overflow-x: scroll; /* Allow horizontal scrolling */
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Items arranged in a row */
    overflow-x: hidden;
}

.project-images {
    padding: 5px;
    width: 50%; /* Each column takes up half of the container width */
    display: flex;
    flex-direction: column;
}

.project-images img {
    width: 100%; /* Images take up the full width of their container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent images from stretching beyond their natural size */
    border: 1px solid #ccc; /* Optional: Add border for visual separation */
    margin-bottom: 8px;
}


.about-info{
    min-width: 483px; /* Set minimum width */
    max-width: 483px; /* Set maximum width */
    display: inline-block;
    position: absolute;
    bottom: 14; /* Align the element to the bottom */
    left: 0; /* Align the element to the left */
}


/* ABOUT PAGE STYLING */
/* ABOUT PAGE STYLING */
/* ABOUT PAGE STYLING */
.about-copy-container{
    display: flex;
    padding-left: 15px;
}

body > div.about-copy-container > div > h1{
    padding: 0px;
    display: flex;
    position: absolute;
    margin-top: 390px;
    line-height: 18px;
}

.skeleton-gif{
    width: 104px;
    height: 131px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}