html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 50px; /* Adjust as needed */
}

@font-face {
  font-family: 'neue_montreallight';
  src: url('/webkit/neue_montreal_light_300-webfont.woff2') format('woff2'),
       url('/webkit/neue_montreal_light_300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'neue_montrealregular';
  src: url('/webkit/neue_montreal_regular_400-webfont.woff2') format('woff2'),
       url('/webkit/neue_montreal_regular_400-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --c-bg: hsl(0, 0%, 90%);
  --c-text: hsl(0, 0%, 10%);
  --pad: max(20px, 4vmin);
}

*{
  margin: 0;
  padding: 0;

  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

canvas {
position:absolute;
z-index:-1;
width: 100%;
height: 91.9vh;
}

.container{
  border: solid black 1px;
  position: fixed;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  
  /*Scroll on projects page*/
  height: 92vh;
  overflow-y: scroll;
}

.header{

  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: -4px
}

.nav{ 
  left: 0;
  top: 0;
  bottom: 0;
  width: 45%;
  margin-top: 1.8rem;
  margin-left: 2rem;
}

.pages{
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin-top: 3rem;
  font-weight: 400;
}

.bio-right{
  font-family: 'Quicksand', sans-serif, semi-bold;
  font-size: 14px;
  font-weight: 400;

  position: absolute;
  right: calc(var(--pad)*1);
  bottom: calc(var(--pad)*1);
  width: 12vh;
}

a:link    { color:black; text-decoration: none; }
a:visited { color:black; text-decoration: none; }

a{
  cursor: pointer;
  color: black;
}



a:hover{
  cursor: pointer;
  color:grey;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

.title{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.projects-title{
  padding-top: 190px;
}

.projects-right{
  font-family: 'Quicksand', sans-serif, semi-bold;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  display: flex;
  flex-direction: column;

  position:  absolute;
  right: calc(var(--pad)*1);
  bottom: calc(var(--pad)*1);
  
  
  /*Scroll on projects page*/
  overflow-y: auto;
  
  height: 92vh;
  width: 80vw;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

::-webkit-scrollbar {
  display:none;
}

.project-name{
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

.contact{
  font-family: 'Quicksand', sans-serif, semi-bold;
  font-size: 14px;
  font-weight: 700;
  text-align: right;

  position: absolute;
  right: calc(var(--pad)*1);
  bottom: calc(var(--pad)*1);
}




/*
SCROLLING TEXT STUFF
*/
.marquee-wrapper{
  background:none;
  text-align:center;
}
.marquee-wrapper .marq-container{
  overflow:hidden;
}
.marquee-inner span{
  float:left;
  width:50%;
}
.marquee-wrapper .marquee-block{
  --total-marquee-items:6;
  height: 2px;
  width: 14.1rem;
  /*width: calc(237px * (var(--total-marquee-items))); */
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 0px auto;
  background: none;
  padding: 30px 0;
  margin-top: -37px;
}

/*
MARGIN FOR THE BOTTOM SCROLLING TEXT
*/
.marquee-wrapper-footer .marquee-block-footer{
  --total-marquee-items:4;
  height: 1px;
  
  /*THIS LINE IS SUPER IMPORTANT FOR MESSING WITH THE LENGTH OF THE BOXES*/
  width: calc(15vh * (var(--total-marquee-items)));
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 0px auto;
  background: none;
  padding: 0px 0;
  margin-top: -40px;
  margin-bottom: 20px;
}

.marquee-inner{
  display: block;
  width: 200%;
  position: absolute;
}
.marquee-inner p{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.marquee-inner.to-left{
  animation: marqueeLeft 5s linear infinite;
}
.marquee-inner.to-right{
  animation: marqueeRight 5s linear infinite;
}
.marquee-item{
  width: 250px;
  padding-top: 10px;
  height: 30;
  display: inline-block;
  margin: 0 5px;

  transition: all .2s ease-out;
  
  /*leave this blank to get rid of the background color*/
  /*the color is useful for determing the size of the boxes*/
  background:;
}
@keyframes marqueeLeft{
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marqueeRight{
  0% { 
    left: -100%; 
  }
  100% {
   left: 0; 
  }
}
p{
    line-height:1.4
}


@media screen and (max-width:1250px) {
  .header{
    font-size: 30px;
    letter-spacing: 0px
  }
  .projects-title{
    padding-top: 160px !important;
  }
  .project-name{
      font-family: 'Quicksand', sans-serif;
      font-size: 34px;
      font-weight: 100;
      text-transform: uppercase;
  }
  canvas {
      height: 91.5vh;
    }
}

@media screen and (max-width:700px) {
  .header{
    font-size: 30px;
    letter-spacing: 0px
  }
  .project-name{
      font-family: 'Quicksand', sans-serif;
      font-size: 34px;
      font-weight: 100;
      text-transform: uppercase;
  }

  canvas {
      height: 93.5vh;
    }
}

@media screen and (max-width:700px) {
  .header{
    font-size: 30px;
    letter-spacing: 0px
  }
  .projects-right{
    width: 65vw;
  }
  .project-name{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
}

.projects-title{
  padding-top: 156px !important;
}

  canvas {
      height: 95.5vh;
    }
    .projects{
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items:end;
    }
}


@media screen and (max-width:450px) {
  .header{
    font-size: 30px;
    letter-spacing: 0px
  }
    
  .nav{ 
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;    
  }

  .pages{
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
  }

  li:not(:last-child) {
    margin-bottom: 5px;
  }


  .project-name{
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      font-weight: 100;
      text-transform: uppercase;
  }
  
}